 
@using IdentityServerRequestTracker.RateLimit.Services
@model IdentityServer4.HostApp.ViewComponents.ClientViewComponentModel

<div>
    @if (Model != null)
    {
        var clientExtra = Model.ClientExtra;
        var secrets = from item in clientExtra.ClientSecrets
            select item.Value;

        <h3>@clientExtra.ClientId</h3>
        <div class="table-responsive">
            <table class="table  table-bordered">
                <thead class="thead-light">
                <tr>
                    <th>Name</th>
                    <th>Value(s)</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>@nameof(clientExtra.Enabled)</td>
                    <td>@clientExtra.Enabled</td>
                </tr>
                <tr>
                    <td>@nameof(clientExtra.ClientSecrets)</td>
                    <td>
                        <ul class="list-unstyled">
                            @foreach (var item in secrets)
                            {
                                <li>@item</li>
                            }
                        </ul>
                    </td>

                </tr>
                @if (clientExtra.AllowedScopes != null)
                {
                    <tr>
                        <td>@nameof(clientExtra.AllowedScopes)</td>
                        <td>
                            <ul class="list-unstyled">
                                @foreach (var item in clientExtra.AllowedScopes)
                                {
                                    <li>@item</li>
                                }
                            </ul>
                        </td>

                    </tr>

                }
                <tr>
                    <td>@nameof(clientExtra.AllowedGrantTypes)</td>
                    <td>
                        <ul class="list-unstyled">
                            @foreach (var item in clientExtra.AllowedGrantTypes)
                            {
                                <li>@item</li>
                            }
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>@nameof(clientExtra.AccessTokenLifetime)</td>
                    <td>@clientExtra.AccessTokenLifetime</td>
                </tr>
                <tr>
                    <td>@nameof(clientExtra.AbsoluteRefreshTokenLifetime)</td>
                    <td>@clientExtra.AbsoluteRefreshTokenLifetime</td>
                </tr>
                <tr>
                    <td>@nameof(clientExtra.SlidingRefreshTokenLifetime)</td>
                    <td>@clientExtra.SlidingRefreshTokenLifetime</td>
                </tr>
                <tr>
                    <td>@nameof(clientExtra.RefreshTokenUsage)</td>
                    <td>@clientExtra.RefreshTokenUsage</td>
                </tr>
                <tr>
                    <td>@nameof(clientExtra.AccessTokenType)</td>
                    <td>@clientExtra.AccessTokenType</td>
                </tr>
                <tr>
                    <td>@nameof(clientExtra.AllowOfflineAccess)</td>
                    <td>@clientExtra.AllowOfflineAccess</td>
                </tr>
                <tr>
                    <td>@nameof(clientExtra.RequireClientSecret)</td>
                    <td>@clientExtra.RequireClientSecret</td>
                </tr>
                <tr>
                    <td>@nameof(clientExtra.RequireRefreshClientSecret)</td>
                    <td>@clientExtra.RequireRefreshClientSecret</td>
                </tr>
                <tr>
                    <td>@nameof(clientExtra.ClientClaimsPrefix)</td>
                    <td>@clientExtra.ClientClaimsPrefix</td>
                </tr>
                <tr>
                    <td>@nameof(clientExtra.Watermark)</td>
                    <td>@clientExtra.Watermark</td>
                </tr>
                </tbody>
            </table>
        </div>
    }
    @if (Model != null && Model.RateLimitRuleRecords != null)
    {
        <h3>Rate-Limit-Records</h3>
        <div class="table-responsive">
            <table class="table  table-bordered">
                <thead class="thead-light">
                <tr>
                    <th>Period</th>
                    <th>Limit</th>
                    <th>Remaining</th>
                </tr>
                </thead>
           
            <tbody>
          
            @{
                var rateLimitRuleRecords = Model.RateLimitRuleRecords;
                foreach (var item in rateLimitRuleRecords)
                {
                    long currentCount = 0;
                    <tr>
                        <td>@item.RateLimitRule.Period</td>
                        <td>@item.RateLimitRule.Limit</td>

                        @if (item.RateLimitCounter != null)
                        {
                            var rateLimitCounter = (RateLimitCounter) item.RateLimitCounter;
                            currentCount = rateLimitCounter.TotalRequests;
                        }
                        @{
                            var remaining = item.RateLimitRule.Limit - currentCount;
                            <td>
                                @remaining
                            </td>
                        } 
                        
                    </tr>
                }
            }
            </tbody>
            </table>
        </div>
    }
</div>

