@model IdentityServer4Extras.ClientExtra

<div>
    @if (Model != null)
    {
        var secrets = from item in Model.ClientSecrets
            select item.Value;

        <h3>@Model.ClientId</h3>
        <div class="table-responsive">
            <table class="table  table-bordered">
                <thead class="thead-light">
                <tr>
                    <th>Name</th>
                    <th>Value(s)</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>@nameof(Model.Enabled)</td>
                    <td>@Model.Enabled</td>
                </tr>
                <tr>
                    <td>@nameof(Model.ClientSecrets)</td>
                    <td>
                        <ul class="list-unstyled">
                            @foreach (var item in secrets)
                            {
                                <li>@item</li>
                            }
                        </ul>
                    </td>

                </tr>
                @if (Model.AllowedScopes != null)
                {
                    <tr>
                        <td>@nameof(Model.AllowedScopes)</td>
                        <td>
                            <ul class="list-unstyled">
                                @foreach (var item in Model.AllowedScopes)
                                {
                                    <li>@item</li>
                                }
                            </ul>
                        </td>

                    </tr>

                }
                <tr>
                    <td>@nameof(Model.AllowedGrantTypes)</td>
                    <td>
                        <ul class="list-unstyled">
                            @foreach (var item in Model.AllowedGrantTypes)
                            {
                                <li>@item</li>
                            }
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>@nameof(Model.AccessTokenLifetime)</td>
                    <td>@Model.AccessTokenLifetime</td>
                </tr>
                <tr>
                    <td>@nameof(Model.AbsoluteRefreshTokenLifetime)</td>
                    <td>@Model.AbsoluteRefreshTokenLifetime</td>
                </tr>
                <tr>
                    <td>@nameof(Model.SlidingRefreshTokenLifetime)</td>
                    <td>@Model.SlidingRefreshTokenLifetime</td>
                </tr>
                <tr>
                    <td>@nameof(Model.RefreshTokenUsage)</td>
                    <td>@Model.RefreshTokenUsage</td>
                </tr>
                <tr>
                    <td>@nameof(Model.AccessTokenType)</td>
                    <td>@Model.AccessTokenType</td>
                </tr>
                <tr>
                    <td>@nameof(Model.AllowOfflineAccess)</td>
                    <td>@Model.AllowOfflineAccess</td>
                </tr>
                <tr>
                    <td>@nameof(Model.RequireClientSecret)</td>
                    <td>@Model.RequireClientSecret</td>
                </tr>
                <tr>
                    <td>@nameof(Model.RequireRefreshClientSecret)</td>
                    <td>@Model.RequireRefreshClientSecret</td>
                </tr>
                <tr>
                    <td>@nameof(Model.ClientClaimsPrefix)</td>
                    <td>@Model.ClientClaimsPrefix</td>
                </tr>
                <tr>
                    <td>@nameof(Model.Watermark)</td>
                    <td>@Model.Watermark</td>
                </tr>
                </tbody>
            </table>
        </div>
    }
</div>

