@model IdentityServer4Extras.ClientExtra

<div>
    @if(Model != null)
    {

        var secrets = from item in Model.ClientSecrets
            select item.Value;

        <markdown>
            #### Client

            Name                                        | Value(s)
            --------------------------------------------|-------------------------
            @nameof(Model.ClientId)                     | @Model.ClientId
            @nameof(Model.Enabled)                      | @Model.Enabled
            @nameof(Model.ClientSecrets)                | @string.Join(" / ", secrets)
            @nameof(Model.AllowedScopes)                | @string.Join(" / ", Model.AllowedScopes)
            @nameof(Model.AllowedGrantTypes)            | @string.Join(" / ", Model.AllowedGrantTypes)
            @nameof(Model.AccessTokenLifetime)          | @Model.AccessTokenLifetime
            @nameof(Model.AbsoluteRefreshTokenLifetime) | @Model.AbsoluteRefreshTokenLifetime
            @nameof(Model.SlidingRefreshTokenLifetime)  | @Model.SlidingRefreshTokenLifetime
            @nameof(Model.RefreshTokenUsage)            | @Model.RefreshTokenUsage
            @nameof(Model.AccessTokenType)              | @Model.AccessTokenType
            @nameof(Model.AllowOfflineAccess)           | @Model.AllowOfflineAccess
            @nameof(Model.RequireClientSecret)          | @Model.RequireClientSecret
            @nameof(Model.RequireRefreshClientSecret)   | @Model.RequireRefreshClientSecret
            @nameof(Model.ClientClaimsPrefix)           | @Model.ClientClaimsPrefix
        </markdown>

        
    }
</div>

